^prepm
eval oce
eval oce current colors$(hblk):$(cl)
eval oce
eval ^whois $N
alias _showwhois1 {
oce 
oce current colors$(hblk):$(cl)
oce 
oce $(wc2)Ú$(wc1)Ä$(wc6)ÄÄÄÄ$(wht)ù ú $(hwht).
oce $(wc1)³  $(hwht)y$(cl)ournick   $(hwht).  $(wc1)user$(wc6)@$(wc1)host.net $(wc6)\($(cl)Internic Network$(wc6)\)
oce $(wc6)|  $(hwht)r$(cl)ealname  $(wc2)í$(cl)  whatever
oce $(wc6):  $(hwht)c$(cl)hannels $(wc1)ì$(cl)  @#channel1 @#channel2
oce $(wc6).  $(hwht)s$(cl)erver    $(wc6)øù.  $(wc1)irc.server.net $(wc6)\($(cl)server info$(wc6)\)
oce    $(hwht)i$(cl)dle        $(wc2)í$(cl) 0$(hwht)h$(cl) 20$(hwht)m$(cl) 44$(hwht)s
oce $(wc2)À$(wc1)ÄÄ$(wc6)ÄÄÄ$(wht)ù ú $(hwht). $(wht)ú $(wc1)ø$(cl)
}
#^_showwhois1